<app-card titulo="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>

</app-card>


<app-card titulo = "Aprofundando Conhecimentos em Templates" cor = "#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>


<app-card titulo = "Pipes" cor ="#8FB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo = "Two-Way Data Binding" cor = "#F2D096">
    <app-two-way-data-biding></app-two-way-data-biding>
</app-card>

<app-card titulo = "Renderizando uma Lista de Dados" cor = "#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo = "Componente Personalizado" cor = "#FFE3DC">
        <app-componente-personalizado nome= "Matheus" sobrenome="Vicente"></app-componente-personalizado>
        <app-componente-personalizado nome= "Mikaela" sobrenome="Marques"></app-componente-personalizado>
        <app-componente-personalizado nome= "Isabela" sobrenome="Scarlett"></app-componente-personalizado>
</app-card>


<app-card titulo = "Compartilhando dados entre componentes" cor = "#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo = "Serviços" cor = "#3A2D32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card >


<app-card titulo = "Ciclo de Vida">
    <app-ciclo-de-vida></app-ciclo-de-vida>
</app-card>


